# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

APP_NAME="Learn Proof"
DATABASE_URL="postgresql://admin:123@localhost:5432/learn-proof-db"
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=5d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=1h
SECRET_API_KEY=

RESEND_API_KEY=
OTP_BUFFER_TIME="1m"

OTP_EXPIRES_IN="10m"

FE_URL=http://localhost:3001

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CLIENT_REDIRECT_URI=
RESEND_DOMAIN=

VNP_TMN_CODE=
VNP_HASH_SECRET=
RETURN_URL=

# Cloud Store
CLOUD_TOKEN_VALUE=
CLOUD_ACCESS_KEY_ID=
CLOUD_SECRET_ACCESS_KEY=
ENDPOINT_CLOUD_STORE=
CLOUDINARY_ACCOUNT_ID=
R2_BUCKET_NAME=


# 
REDIS_HOST=localhost
REDIS_PORT=6379

# API Key lấy tại https://openrouter.ai/keys
LLM_API_KEY=

# Giữ nguyên mặc định nếu dùng OpenRouter
LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_HTTP_REFERER=http://localhost:3000
LLM_X_TITLE=Learn-Proof-App


LLM_EMBEDDING_MODEL=openai/text-embedding-3-small
LLM_CHAT_MODEL_CHEAP=openai/gpt-4o-mini
LLM_CHAT_MODEL_STRONG=openai/gpt-4o

LLM_MOCK=false


